/* from: gtfl main site `tree-drawing.lisp' */

table.tree { border-collapse:collapse }
table.tree > tbody > tr > td { padding:0px;vertical-align:middle; }
table.tree div.child { position:relative; }
table.tree div.vl-top { height:50%;position:absolute;bottom:0px; }
table.tree div.vl-middle { height:100%;position:absolute;top:0px; }
table.tree div.vl-bottom { height:50%;position:absolute;top:0px; }
table.tree div.vl-left { left:0px; }
table.tree div.vl-right { right:0px; }


/* from: gtfl code `gtfl.lisp' */

.gtfl, .gtfl td { font-size: 9pt; font-family: Helvetica Neue, Helvetica, Arial; }
.gtfl a { color: #000066; text-decoration:none; }
.gtfl a:hover {text-decoration: underline}
.gtfl a.button { font-size: 8pt;}
.gtfl hr { border:0px;color:#777;background-color:#777;height:1px;width:100%;}


/* from: gtfl examples code `examples/asdf-dependency-tree.lisp' */

div.asdf { margin-top:5px;margin-bottom:5px; }
div.asdf-duplicate { padding:3px;font-style:italic;}
div.asdf div.title { background-color:#000; padding:5px; padding-top:3px; padding-bottom:2px; }
div.asdf div.title > a { color:#fff;font-weight:bold; }
table.asdf-system { border-collapse:collapse;border:1px solid black; width:100%;}
table.asdf-system > tbody > tr > td { vertical-align:top; padding:4px;padding-bottom:2px; padding-top:2px; }
